*,
*:after,
*:before{
    box-sizing: border-box;
    margin: 0;

    font-family: 'Oswald', sans-serif;
    color: black;
}

body{
    background: url("../img/background.jpg") center no-repeat;
    background-size: cover;
}



/* Header / Menu / Navigation */

.head{
    width: 100%;
    height: 65px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    background-color: rgb(33, 33, 54);
    opacity: 0.95;
}

.head_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a{
    display:inline-block;

    margin: 5px 0;
    padding: 2px 10px;
    text-decoration: none;
    border: 3px solid rgb(100, 100, 255);

    color: rgb(100, 100, 255);
    font-size: 30px;
    font-weight: 700;

    max-height: 65px;
}

.navigation{
    margin-right: 40px;
}

.navigation .anchors a{
    color: rgb(100, 100, 255);
    text-decoration: none;
    font-size: 22px;

    margin: 0 40px;

    transition: color 0.2s linear;
}

.navigation .anchors a:hover{
    color: rgb(155, 155, 255);
}   

@media (max-width: 849px){
    .navigation .anchors a{
        margin: 0 15px;
    }

    .navigation{
        margin-right: 15px;
    }
}

@media (max-width: 675px){
    .navigation .anchors a{
        margin: 0 2px;
    }

    .navigation{
        margin-right: 0;
    }
}

@media (max-width: 545px){
    .navigation{
        display: none;
    }
}



/* Main */

.container{
    display: block;

    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* -------------------- */

.cv{
    display: inline-block;
    width: 100%;
    height: 100%;
    max-height: 800px;
    min-height: 600px;
    max-width: 1200px;
    min-width: 750px;
    background-color: rgba(222, 222, 250, 0.6);
    
    margin-top: 65px;
}

.cv h1{    
    margin-top: 70px;
    font-size: 40px;
    font-weight: bold;
    color: rgb(33, 33, 54);
    text-transform: uppercase;
    text-align: center;
}

.content{
    display: flex;
    justify-content: space-around;

    height: calc(100% - 130px);
}

#about_me img{
    height: 300px;
    width: auto;
    float: left;
    margin: 30px 80px;
    border: 4px solid rgb(33, 33, 54);
}

#about_me ul{
    margin-top: 20px;
    font-size: 23px;
    list-style: none;

    display: inline-block;
}

#about_me li,a{
    color: rgb(33, 33, 54);
}

.bold{
    color: rgb(33, 33, 54);
    font-weight: bold;
}

.list a{
    text-decoration: none;
}

/* -------------------- */

.progress_bar{
    width: 70%;
    margin: 20px 0;
    list-style: none;
    font-size: 23px;
}

.progress_bar li{
    text-align: center;
    position: relative;
    margin: 30px 0;
    text-transform: uppercase;
    font-weight: bold;
}

.progress_bar li:before{
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 20px;
    background-color: rgba(33, 33, 54, 0.4);
    border-radius: 10px;
}

.progress_bar li:after{
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 20px;
    background-color: rgba(33, 33, 54, 1);
    border-radius: 10px;
    animation-duration: 0.7s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

.progress_bar li.html:after{
    animation-name: html;
}

@keyframes html{
    to{
        width: 65%;
    }
}

.progress_bar li.css:after{
    animation-name: css;
}

@keyframes css{
    to{
        width: 50%;
    }
}

.progress_bar li.javascript:after{
    animation-name: javascript;
}

@keyframes javascript{
    to{
        width: 20%;
    }
}

.progress_bar li.python_django:after{
    animation-name: python_django;
}

@keyframes python_django{
    to{
        width: 60%;
    }
}

.progress_bar li.c_sharp:after{
    animation-name: c_sharp;
}

@keyframes c_sharp{
    to{
        width: 70%;
    }
}

.progress_bar li.c_plus_plus:after{
    animation-name: c_plus_plus;
}

@keyframes c_plus_plus{
    to{
        width: 50%;
    }
}

/* -------------------- */

.column{
    margin: 50px 0;
    width: 30%;
    height: auto;
    background-color: rgb(33, 33, 54);
}

.date{
    background-color: rgb(100, 100, 255);
    height: 15%;
    width: 100%;
    border-bottom: 3px solid rgb(155, 155, 255);
    margin: 5% auto;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    color: rgb(33, 33, 54);
}

.place{
    width: 80%;
    margin: 30px auto;
    font-size: 23px;
    color: rgb(100, 100, 255);
}



/* Footer */

.foot{
    width: 100%;
    height: 65px;

    background-color: rgb(33, 33, 54);
    opacity: 0.95;
}

.foot_container{
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

.foot_container img{
    height: 45px;
    margin: 0 75px;
}

.change_to_white{
    filter: brightness(0) invert(1);
}